*{box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Courier New', Courier, monospace;
}


body{
    background: #ffffff;
   }

   /*HEADER - CABEÇALHO DO SITE*/
   header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
     }
     #logo{
      height: 70px;
     }
     .menu > ul > li > a:link{
      text-decoration: none;
      color: #000000;
      padding: 10px;
     }
     .menu ul li{
      display: inline;
     }
     .menu > ul > li > a:hover{
      border-bottom: 2px solid green;
     }
     .menu > ul > li > a:active{
      color: green;
      border-bottom: 2px solid green;
      font-weight: 700;
     }
     #ativo{
      border-bottom: 2px solid green;
     }
     /*Seções*/
     #banner-principal{
      width: 100%;
     }
     .container{
      display: flex;
      justify-content: space-around;
      padding: 40px;
      background-color: #ffffff;
     }
     .conteudo{
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      max-width: 20%;
     }
     .banner{
      width: 250px;
      height: 250px;
      margin-bottom: 20px;
      border-radius: 40%;
     }
     #video{
      background-color: rgb(135, 200, 120, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 500px;
      border-bottom: 3px solid orange;
     }
     #video > .container > img{ 
      height: 315px;


     }

     footer{
      text-align: center;
      padding: 20px;
     }
     footer > p > a{
      text-decoration: none;
      color: #000000;
     }